<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetConnect - Connecting Pets and People</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Common header, navigation, or any other shared content can go here -->
    <header>
        <nav>
               <nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid" id="bark-navbar">
        <form class=" justify-content-start">
          <button class="btn bark-btn me-2" type="button">Find Buddies</button>
        </form>
        <form class="justify-content-end" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/profile">Profile</a>
                  </li>
                  {{#if logged_in}}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page"href="/logout">Logout</a>
                  </li>
                  {{else}}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                  </li>
                  {{/if}}
                </ul>
              </div>
            
          </form>
      </nav>

        </nav>
    </header>

    <!-- Page content -->
    
    {{{ body }}} <!-- This is where the content from your individual pages will be injected -->
    

    <!-- Common footer or other shared content can go here -->
    <footer>
        <!-- Your footer content -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+VH6r5cZ5/cp7bLtl8i5F5xI5uVi/xE1E1v9af7+JpRBjl5B" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Additional scripts or JavaScript libraries can be included here -->
    
</body>
</html>
