<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetConnect - Connecting Pets and People</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Common header, navigation, or any other shared content can go here -->
    <header>
        <nav>
            <!-- Your navigation links -->
        </nav>
    </header>

    <!-- Page content -->
    
    {{{ body }}} <!-- This is where the content from your individual pages will be injected -->
    

    <!-- Common footer or other shared content can go here -->
    <footer>
        <!-- Your footer content -->
    </footer>

    <!-- Additional scripts or JavaScript libraries can be included here -->
    
</body>
</html>
