<div class="login">
<main class="page-wrapper">
      <!-- Page content-->
      <div class="d-lg-flex position-relative h-100">
        <!-- Home button-->
        <a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 p-0 mt-3 me-3 mt-sm-4 me-sm-4" href="index.html" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Back to home" data-bs-original-title="Back to home"><i class="ai-home"></i></a>
        <!-- Sign in form-->
        <div class="d-flex flex-column align-items-center w-50 h-100 px-3 px-lg-5 pt-5">
          <div class="w-100 mt-auto" style="max-width: 526px;">
            <h1>Welcome to Barking Buddies</h1>
            <p class="pb-3 mb-3 mb-lg-4">Don't have an account yet?&nbsp;&nbsp;<a href="/signup">Signup here!</a></p>
            <form class="login-form">
              <div class="pb-3 mb-3">
                <div class="position-relative"><i class="bi bi-envelope fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                  <input id="email" class="form-control form-control-lg ps-5" type="email" placeholder="Email address" required="">
                </div>
              </div>
              <div class="mb-4">
                <div class="position-relative"><i class="bi bi-lock fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                  <div class="password-toggle">
                    <input id="password" class="form-control form-control-lg ps-5" type="password" placeholder="Password" required="">
                  </div>
                </div>
              </div>
              <button class="btn btn-lg btn-primary w-100 mb-4 button" type="submit">Sign in</button>
            
            </form>
          </div>
          <!-- Copyright-->
          <p class="w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"><span class="text-muted">© 2023 Barking Buddies All rights reserved.</p>
        </div>
        <!-- Cover image-->
        <div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url('/images/background_image.jpeg'); background-position: 55% 20%"></div>
      </div>
    </main>
</div>

<script src="./js/login.js"></script>