<div class="container-md pt-5 text-center"> 
    <h1 class="display-6">Register for Barking Buddies</h1> 
</div>
<!-- Start of Puppy and Owner text fields -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container-md pt-5">
                <form class="profile-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container mt-3">
                            <div class="mb-4">
                                <div class="pic-holder">
                                    <img id="petPic" class="pic">
                                    <input class="uploadPicture" type="file" name="petPicture" id="petpicture" accept="image/*" style="opacity: 0;" />
                                    <label for="petpicture" class="upload-file-block">
                                        <div class="text-center">
                                            <div class="mb-2">
                                                <i class="fa fa-camera fa-2x"></i>
                                            </div>
                                            <div class="text-uppercase">
                                                Update <br /> Dog Photo
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <h5>Your Dog's Name</h5>
                            <h2><input id="petName" type="text" class="form-control" placeholder="John Doe" ></h2>
                            <div class="pb-3">
                                <h5>Bio</h5>
                                <small class="form-text text-muted bio-text">Provide some details about your dog that you would want their Barking Buddies to know! This can include favourite hobbies, defining characteristics, or random facts.</small>
                            </div>
                            <p><textarea id="petDescription" class="form-control" rows="5" placeholder="hobbies, fun facts, etc."></textarea></p>
                            <div class="pb-3">
                                <h5>Barking Buddy Details</h5>
                                <!-- Text input for Age -->
                                <div class="mb-3">
                                    <label for="petAge" class="form-label">Age</label>
                                    <input type="text" class="form-control" id="petAge" placeholder="Age">
                                </div>
                                <!-- Text input for Breed -->
                                <div class="mb-3">
                                    <label for="petBreed" class="form-label">Breed</label>
                                    <input type="text" class="form-control" id="petBreed" placeholder="Breed">
                                </div>
                                <!-- Radio for Gender -->
                                <div class="mb-3">
                                    <label for="petGender"class="form-label">Gender:</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="petGender" id="maleRadio" value="Male">
                                        <label class="form-check-label" for="maleRadio">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="petGender" id="femaleRadio" value="Female">
                                        <label class="form-check-label" for="femaleRadio">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="container mt-3">
                            <div class="mb-4">
                                <div class="pic-holder">
                                    <img id="profilePic" class="pic">
                                    <input class="uploadPicture" type="file" name="profilePicture" id="profilepicture" accept="image/*" style="opacity: 0;" />
                                    <label for="profilepicture" class="upload-file-block">
                                        <div class="text-center">
                                            <div class="mb-2">
                                                <i class="fa fa-camera fa-2x"></i>
                                            </div>
                                            <div class="text-uppercase">
                                                Update<br /> Profile Photo
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="pb-3">
                                <h5>Your Name</h5>
                                <h2><input id="name" type="text" class="form-control" placeholder="Jane Doe"></h2>
                            </div>
                            <div class="pb-3">
                                <h5>Bio</h5>
                                <small class="form-text text-muted bio-text">Provide some details about yourself that you would want your Barking Buddies to know! This can include what you do for work, where you are from, or what you like to do in your spare time.</small>
                            </div>
                            <div class="pb-3">
                                <textarea id="description" class="form-control" rows="5" placeholder="hobbies, fun facts, etc."></textarea>
                            </div>
                            <div class="pb-3">
                                <h5>Tel:</h5>
                                <h2><input id="phone" type="text" class="form-control" placeholder="(888)-888-8888"></h2>
                            </div>
                            <div class="pb-3">
                                <h5>Location</h5>
                                <div class="mb-3">
                                    <select class="form-select" id="locationDropdown">
                                        <option selected>Select a location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pb-3">
                                <h5>Availability</h5>
                                <div class="mb-3">
                                    <select class="form-select" id="daysDropdown">
                                        <option selected>Select an avaialable day</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
                
                <div class="p-3 text-center">
                <button type="button" class="btn btn-lg custom-disabled-btn signup-btn" id="signup">Sign Me Up!</button>
            </div>
        </div>
    </div>
</div>