
/* custom navbar */
.navbar-nav{
    align-items: center;
}

.bark-btn{
    background-color: #D58452;
    border-radius: 20px;
    border: 2px solid #D58452;
    color: white;
    filter: drop-shadow(0 3px 2px #479881);
}

.bark-btn:hover{
    background-color: #d7a07e !important;
    border: 2px solid #d7a07e !important;
    color: white !important;
    filter: drop-shadow(0 3px 2px #479881);
}

.bark-btn:active{
    background-color: #D58452 !important;
    border: 2px solid #D58452 !important;
    color: white!important;
    filter: drop-shadow(0 1px 2px #479881);
}

#bark-navbar{
    background-color: #73B3BC !important;
    padding: 10px 50px;
}

#bark-navbar .nav-item a{
    color: white;
    padding: 0px 25px;
    border-left: 2px solid #479881;
}

/* custom Text on cards */
.card-body .text-body-secondary{
    margin: 0;
    padding: 0;
    display: block;
}

#befriend-btn{
    position: absolute;
    width: 140px;
    height: 50px;
    left: 18px;
    bottom: 0;
    background: none;
    border: none;
}

#befriend-btn-text{
    position: absolute;
    bottom: 12px;
    left: 48px;
    color: white;
}

#befriend-btn svg{
    width: 140px;
    height: 50px;
}

/* responsive Navbar */
@media (min-width: 992px )
{
    .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
    }
}

/* responsive dog cards */
@media (max-width:1200px )
{
    #befriend-btn{
         left: 2px;
         bottom: 40px;
    }
}

@media (max-width: 992px)
{
    #befriend-btn{
         left: -22px;
         top: 80px;
    }
}

.custom-disabled-btn {
    background-color: #D58452;
    color: #fff; /* Set the text color to ensure visibility */
    cursor: not-allowed; /* Change cursor on hover to indicate it's disabled */
}

.custom-dark-blue-btn{
    background-color: #478991;
    color: #fff;
    font-size: medium;
}

.custom-light-btn{
    background-color:#73B3BC;
}

.bio-text{
    font-family:Arial, Helvetica, sans-serif;
}

.modal-content {
    padding: 20px;
}
.day-button {
    margin: 5px;
}
.selected-button {
    background-color:#D58452 ;
    color: white;
}

/*Login/Sign Up Page*/
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .page-wrapper {
    flex: 1 0 auto;
    background-image: linear-gradient(#73B3BC, #479881);
  }
  
  .button{
    background-color: #D58452;
  }