
/* ================ HOMEPAGE ==================== */

/* custom navbar */
.navbar-nav{
    align-items: center;
}

.bark-btn{
    background-color: #D58452;
    border-radius: 20px;
    border: 2px solid #D58452;
    color: white;
    filter: drop-shadow(0 3px 2px #479881);
}

.bark-btn:hover{
    background-color: #d7a07e !important;
    border: 2px solid #d7a07e !important;
    color: white !important;
    filter: drop-shadow(0 3px 2px #479881);
}

.bark-btn:active{
    background-color: #D58452 !important;
    border: 2px solid #D58452 !important;
    color: white!important;
    filter: drop-shadow(0 1px 2px #479881);
}

#bark-navbar{
    background-color: #73B3BC !important;
    padding: 10px 50px;
}

#bark-navbar .nav-item a{
    color: white;
    padding: 0px 25px;
    border-left: 2px solid #479881;
}

/* custom Text on cards */
.card-body .text-body-secondary{
    margin: 0;
    padding: 0;
    display: block;
}

#befriend-btn{
    position: absolute;
    width: 140px;
    height: 50px;
    left: 18px;
    bottom: 0;
    background: none;
    border: none;
}

#befriend-btn-text{
    position: absolute;
    bottom: 12px;
    left: 48px;
    color: white;
}

#befriend-btn svg{
    width: 140px;
    height: 50px;
}

#befriend-btn:hover{
    width: 140px;
    height: 50px;
    transform: rotate(5deg);
}

/* responsive Navbar */
@media (min-width: 992px )
{
    .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
    }
}

/* responsive dog cards */
@media (max-width:1200px )
{
    #befriend-btn{
         left: 2px;
         bottom: 40px;
    }
}

@media (max-width: 992px)
{
    #befriend-btn{
         left: -22px;
         top: 80px;
    }
}

/* this is for mobile for cards */
@media (max-width: 768px)
{
    #befriend-btn{
         left: 0px;
         top: 0px;
    }
}


/* ============= REGISTRATION PAGE ==================== */

/* added by Tem */
.custom-disabled-btn {
    background-color: #D58452;
    color: #fff; /* Set the text color to ensure visibility */
    cursor: not-allowed; /* Change cursor on hover to indicate it's disabled */
}

.custom-dark-blue-btn{
    background-color: #478991;
    color: #fff;
    font-size: medium;
}

.custom-light-btn{
    background-color:#73B3BC;
}

.bio-text{
    font-family:Arial, Helvetica, sans-serif;
}

.modal-content {
    padding: 20px;
}
.day-button {
    margin: 5px;
}
.selected-button {
    background-color:#D58452 ;
    color: white;
}


/* ================= MEETUP PAGE ==================== */

.meetup .card{
    border: none;
}

.meetup img{
    width: 20vw;
    align-self:center;
}

.meetup small span{
    font-size: x-large;
    font-weight: 500;
    padding-left: 15px;
}

@media (max-width: 992px)
{
    .meetup img{
        width: 35vw;
        align-self: self-start;
        margin-bottom: 30px ;
    }
}


/* ================= PROFILE PAGE ==================== */

.dog-profile-box{
    background-color: #316e75;
    color: white;
    margin-left: 3px;
    border-radius:10px;
}

.user-profile-box{
    background-color: #ca6f36;
    color: #fff;
    margin-right: 3px;
    border-radius:10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}



/* ================= SIGN UP / LOGIN PAGE ==================== */

.login main{
    height: 100vh;
}

.login body {
    display: flex;
    flex-direction: column;
  }
  .login .page-wrapper {
    flex: 1 0 auto;
    /* background-image: linear-gradient(#73B3BC, #479881); */
  }
  
  .login .button{
    background-color: #D58452;
  }
