
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  flex: 1 0 auto;
  background-image: linear-gradient(#73B3BC, #479881);
}

.button{
  background-color: #D58452;
}